@use "../abtracts";

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7497%) hue-rotate(86deg) brightness(102%)
    contrast(102%);

  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;

  @include abtracts.screen(lg) {
    box-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
  }

  //Dropdown
  --dropdown-bg-color: #2f3441;
  --dropdown-shawdow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(20%) sepia(13%) saturate(727%) hue-rotate(185deg)
    brightness(93%) contrast(96%);
  --top-menu-border-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(97%) sepia(15%) saturate(7446%) hue-rotate(180deg)
    brightness(114%) contrast(94%);

  //Sidebar
  --sidebar-bg: #292e39;
  --sidebar-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
}
