@use "../abtracts";

html {
  --text-color: #2e1616;
  --icon-color: brightness(0) saturate(100%) invert(6%) sepia(15%) saturate(4299%) hue-rotate(325deg) brightness(100%)
    contrast(90%);

  --body-bg: #f6f6f6;
  --header-bg-color: #eee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;

  @include abtracts.screen(lg) {
    --header-bg-color: #fff;
    --header-shadow-color: rgba(237, 237, 246, 0.2);
  }

  //Dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shawdow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;

  //Sidebar
  --sidebar-bg: #fff;
  --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
}
