@use "../abtracts";

.logo {
  display: flex;
  align-items: center;
  column-gap: 14px;

  @include abtracts.screen(lg) {
    column-gap: 10px;
    margin-left: 40px;
  }

  @include abtracts.screen(md) {
    margin-left: 0;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%; /* 145.455% */

    @include abtracts.screen(lg) {
      font-size: 1.8rem;
    }
  }

  &__img {
    @include abtracts.screen(lg) {
      width: 24px;
    }
  }
}
