@use "../abtracts";

.slideshow {
  margin: 40px 0;
  position: relative;

  @include abtracts.screen(md) {
    margin: 30px 0;
  }

  &__inner {
    display: flex;
    overflow: hidden;
  }

  &__item {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    padding-top: 34%;

    @include abtracts.screen(md) {
      padding-top: 50%;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  &__page {
    --color: #fff;

    position: absolute;
    bottom: 15%;
    left: 5.2%;
    width: 12.8%;
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  &__num {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%; /* 144.444% */
    color: var(--color);

    @include abtracts.screen(md) {
      font-size: 1.4rem;
      line-height: 142.857%; /* 142.857% */
    }
  }

  &__slider {
    width: 100%;
    height: 4px;
    flex-shrink: 0;
    background: var(--color);
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 14px;
      width: 14px;
      border: 4px solid var(--color);
      border-radius: 50%;
      top: 50%;

      @include abtracts.screen(md) {
        border-width: 3px;
      }
    }

    &::before {
      left: 0;
      translate: -90% -50%;
    }

    &::after {
      right: 0;
      translate: 90% -50%;
    }
  }
}
